<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_XMnhoN44Eem4l4r1eeu9Pg" specification="interface:&#xA;// Define events and&#xA;// and variables here&#xA;&#xA;interface user:&#xA;in event accept_call&#xA;in event dismiss_call&#xA;&#xA;interface phone:&#xA;in event incoming_call&#xA;in event apply_adapt&#xA;var changes: boolean=false&#xA;var configOK:boolean=true&#xA;var call_duration:integer&#xA;operation applyChanges():void&#xA;&#xA;interface adapt_layer:&#xA;var configOK:boolean=true&#xA;var changes:boolean=false&#xA;in event adapt_need&#xA;in event apply_adapt&#xA;operation applyChanges():void&#xA;&#xA;interface meta_layer:&#xA;var configOK:boolean=true&#xA;in event adapt_need&#xA;&#xA;&#xA;" name="CallHandling">
    <regions xmi:id="_XM2yMt44Eem4l4r1eeu9Pg" name="System_Layer">
      <vertices xsi:type="sgraph:Entry" xmi:id="_XNGCwN44Eem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_XNJGEd44Eem4l4r1eeu9Pg" target="_XNHQ4N44Eem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XNHQ4N44Eem4l4r1eeu9Pg" name="Idle" incomingTransitions="_XNJGEd44Eem4l4r1eeu9Pg _56KewN44Eem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_fdTlcN44Eem4l4r1eeu9Pg" specification="phone.incoming_call" target="_brKwkN44Eem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_brKwkN44Eem4l4r1eeu9Pg" specification="" name="Incoming Call" incomingTransitions="_fdTlcN44Eem4l4r1eeu9Pg _QzISEN_PEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_0tu8cN8EEem4l4r1eeu9Pg" specification="[phone.configOK==true]" target="_s4W7rN8EEem4l4r1eeu9Pg"/>
        <outgoingTransitions xmi:id="_QzISEN_PEem4l4r1eeu9Pg" specification="phone.apply_adapt" target="_brKwkN44Eem4l4r1eeu9Pg"/>
        <regions xmi:id="_vxcK8N7rEem4l4r1eeu9Pg" name="_StateIncoming_Region">
          <vertices xsi:type="sgraph:Entry" xmi:id="_1iQ6EN7rEem4l4r1eeu9Pg">
            <outgoingTransitions xmi:id="_t23RoN8MEem4l4r1eeu9Pg" specification="" target="_3YeNwN7rEem4l4r1eeu9Pg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_3YeNwN7rEem4l4r1eeu9Pg" specification="entry[phone.configOK==false]&#xD;&#xA;/raise adapt_layer.adapt_need" name="Handling_Call_Config" incomingTransitions="_lePAUN7sEem4l4r1eeu9Pg _t23RoN8MEem4l4r1eeu9Pg">
            <outgoingTransitions xmi:id="_d33o4N8NEem4l4r1eeu9Pg" specification="[phone.changes==true]" target="_NtFfUN7sEem4l4r1eeu9Pg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_NtFfUN7sEem4l4r1eeu9Pg" specification="entry/&#xD;&#xA;phone.applyChanges()&#xD;&#xA;exit/&#xD;&#xA;phone.changes=false;&#xD;&#xA;phone.configOK=true" name="Apply_changes" incomingTransitions="_d33o4N8NEem4l4r1eeu9Pg">
            <outgoingTransitions xmi:id="_lePAUN7sEem4l4r1eeu9Pg" specification="always" target="_3YeNwN7rEem4l4r1eeu9Pg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qDI7sN44Eem4l4r1eeu9Pg" specification="every 1s/&#xD;&#xA;phone.call_duration +=1" name="Active Call" incomingTransitions="_B9mTAN7kEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_0xi_IN44Eem4l4r1eeu9Pg" specification="user.dismiss_call" target="_xteKIN44Eem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_xteKIN44Eem4l4r1eeu9Pg" specification="exit/phone.call_duration=0" name="Dismiss Call" incomingTransitions="_0xi_IN44Eem4l4r1eeu9Pg _b3FLAN5LEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_56KewN44Eem4l4r1eeu9Pg" specification="after 2s" target="_XNHQ4N44Eem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_s4W7rN8EEem4l4r1eeu9Pg" name="Process_Call" incomingTransitions="_0tu8cN8EEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_B9mTAN7kEem4l4r1eeu9Pg" specification="user.accept_call" target="_qDI7sN44Eem4l4r1eeu9Pg"/>
        <outgoingTransitions xmi:id="_b3FLAN5LEem4l4r1eeu9Pg" specification="user.dismiss_call" target="_xteKIN44Eem4l4r1eeu9Pg"/>
      </vertices>
    </regions>
    <regions xmi:id="_ZMQ0IN-3Eem4l4r1eeu9Pg" name="Adaptation_Layer">
      <vertices xsi:type="sgraph:State" xmi:id="_ZrEQAN-3Eem4l4r1eeu9Pg" specification="" name="Monitoring" incomingTransitions="_dKMCQN-3Eem4l4r1eeu9Pg _QQoMgN_QEem4l4r1eeu9Pg _Jg6E0N_TEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_Ek5SEN-4Eem4l4r1eeu9Pg" specification="adapt_layer.adapt_need&#xD;&#xA;[adapt_layer.changes==false]" target="_DiRXcN-4Eem4l4r1eeu9Pg"/>
        <outgoingTransitions xmi:id="_Jg6E0N_TEem4l4r1eeu9Pg" specification="adapt_layer.apply_adapt" target="_ZrEQAN-3Eem4l4r1eeu9Pg"/>
        <regions xmi:id="_Ri_W-t_REem4l4r1eeu9Pg" name="_Monitoring_Region">
          <vertices xsi:type="sgraph:Entry" xmi:id="_Ri_W-9_REem4l4r1eeu9Pg">
            <outgoingTransitions xmi:id="_Ri_W_N_REem4l4r1eeu9Pg" specification="" target="_Ri_W_d_REem4l4r1eeu9Pg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Ri_W_d_REem4l4r1eeu9Pg" specification="[adapt_layer.configOK==false]&#xD;&#xA;/raise meta_layer.adapt_need" name="Handling_Adapt_Config" incomingTransitions="_Ri_-Bt_REem4l4r1eeu9Pg _Ri_W_N_REem4l4r1eeu9Pg">
            <outgoingTransitions xmi:id="_Ri_97t_REem4l4r1eeu9Pg" specification="[adapt_layer.changes==true]" target="_Ri_99t_REem4l4r1eeu9Pg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Ri_99t_REem4l4r1eeu9Pg" specification="entry/&#xD;&#xA;adapt_layer.applyChanges()&#xD;&#xA;exit/&#xD;&#xA;adapt_layer.changes=false;&#xD;&#xA;adapt_layer.configOK=true" name="Apply_changes" incomingTransitions="_Ri_97t_REem4l4r1eeu9Pg">
            <outgoingTransitions xmi:id="_Ri_-Bt_REem4l4r1eeu9Pg" specification="always" target="_Ri_W_d_REem4l4r1eeu9Pg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_bzn38N-3Eem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_dKMCQN-3Eem4l4r1eeu9Pg" target="_ZrEQAN-3Eem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_DiRXcN-4Eem4l4r1eeu9Pg" name="Analyzing" incomingTransitions="_Ek5SEN-4Eem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_hAHwAN_NEem4l4r1eeu9Pg" specification="always" target="_eyuEUN_NEem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_eyuEUN_NEem4l4r1eeu9Pg" name="Planning" incomingTransitions="_hAHwAN_NEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_btnfIN_OEem4l4r1eeu9Pg" specification="always" target="_XBd5EN_OEem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XBd5EN_OEem4l4r1eeu9Pg" specification="entry/&#xD;&#xA;phone.changes=true; &#xD;&#xA;raise phone.apply_adapt" name="Executing" incomingTransitions="_btnfIN_OEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_QQoMgN_QEem4l4r1eeu9Pg" specification="always" target="_ZrEQAN-3Eem4l4r1eeu9Pg"/>
      </vertices>
    </regions>
    <regions xmi:id="_Ewz6QN_QEem4l4r1eeu9Pg" name="MetaAdaptation_Layer">
      <vertices xsi:type="sgraph:State" xmi:id="_Ewz6Qd_QEem4l4r1eeu9Pg" specification="" name="Monitoring" incomingTransitions="_Ew0hVd_QEem4l4r1eeu9Pg _g_lnsN_REem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_Ewz6Q9_QEem4l4r1eeu9Pg" specification="meta_layer.adapt_need" target="_Ew0hVt_QEem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_Ew0hVN_QEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_Ew0hVd_QEem4l4r1eeu9Pg" target="_Ewz6Qd_QEem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ew0hVt_QEem4l4r1eeu9Pg" name="Analyzing" incomingTransitions="_Ewz6Q9_QEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_Ew0hWN_QEem4l4r1eeu9Pg" specification="always" target="_Ew0hW9_QEem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ew0hW9_QEem4l4r1eeu9Pg" name="Planning" incomingTransitions="_Ew0hWN_QEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_Ew0hXd_QEem4l4r1eeu9Pg" specification="always" target="_Ew0hYN_QEem4l4r1eeu9Pg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ew0hYN_QEem4l4r1eeu9Pg" specification="entry/&#xD;&#xA;adapt_layer.changes=true; &#xD;&#xA;raise adapt_layer.apply_adapt" name="Executing" incomingTransitions="_Ew0hXd_QEem4l4r1eeu9Pg">
        <outgoingTransitions xmi:id="_g_lnsN_REem4l4r1eeu9Pg" specification="always" target="_Ewz6Qd_QEem4l4r1eeu9Pg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_XM2yMN44Eem4l4r1eeu9Pg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_XMnhoN44Eem4l4r1eeu9Pg" measurementUnit="Pixel">
    <children xmi:id="_XNDmgN44Eem4l4r1eeu9Pg" type="Region" element="_XM2yMt44Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XNE0oN44Eem4l4r1eeu9Pg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XNE0od44Eem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XNE0ot44Eem4l4r1eeu9Pg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_XNE0o944Eem4l4r1eeu9Pg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_XNGCwd44Eem4l4r1eeu9Pg" type="Entry" element="_XNGCwN44Eem4l4r1eeu9Pg">
          <children xmi:id="_XNGp0N44Eem4l4r1eeu9Pg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_XNGp0944Eem4l4r1eeu9Pg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_XNGp1N44Eem4l4r1eeu9Pg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_XNGp1d44Eem4l4r1eeu9Pg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XNGp0d44Eem4l4r1eeu9Pg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XNGp0t44Eem4l4r1eeu9Pg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XNGCwt44Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_XNGCw944Eem4l4r1eeu9Pg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XNGp1t44Eem4l4r1eeu9Pg" x="167" y="-3" width="15" height="15"/>
        </children>
        <children xmi:id="_XNHQ4944Eem4l4r1eeu9Pg" type="State" element="_XNHQ4N44Eem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_XNH38N44Eem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XNH38d44Eem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XNH38t44Eem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XNIfAN44Eem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XNIfAd44Eem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XNIfAt44Eem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XNIfA944Eem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XNHQ5N44Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XNHQ5d44Eem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XNIfBN44Eem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XNJGEN44Eem4l4r1eeu9Pg" x="154" y="30" width="40" height="53"/>
        </children>
        <children xmi:id="_brL-sN44Eem4l4r1eeu9Pg" type="State" element="_brKwkN44Eem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_brL-tN44Eem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_brL-td44Eem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_brMlwN44Eem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_brMlwd44Eem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_brMlwt44Eem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_brMlw944Eem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_brMlxN44Eem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_brL-sd44Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_brL-st44Eem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_brMlxd44Eem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uax6AN7rEem4l4r1eeu9Pg" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_brL-s944Eem4l4r1eeu9Pg" x="125" y="132" width="105" height="53"/>
        </children>
        <children xmi:id="_qDJiwN44Eem4l4r1eeu9Pg" type="State" element="_qDI7sN44Eem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_qDKJ0N44Eem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qDKJ0d44Eem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qDKJ0t44Eem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qDKw4N44Eem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qDKw4d44Eem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qDKw4t44Eem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qDLX8N44Eem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qDJiwd44Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qDJiwt44Eem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qDLX8d44Eem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qDJiw944Eem4l4r1eeu9Pg" x="109" y="317" width="180" height="59"/>
        </children>
        <children xmi:id="_xtexMN44Eem4l4r1eeu9Pg" type="State" element="_xteKIN44Eem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_xtexNN44Eem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xtexNd44Eem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xtfYQN44Eem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xtfYQd44Eem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xtfYQt44Eem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xtfYQ944Eem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xtfYRN44Eem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xtexMd44Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xtexMt44Eem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xtfYRd44Eem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xtexM944Eem4l4r1eeu9Pg" x="92" y="447" width="195" height="56"/>
        </children>
        <children xmi:id="_s4W7oN8EEem4l4r1eeu9Pg" type="State" element="_s4W7rN8EEem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_s4W7od8EEem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_s4W7ot8EEem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_s4W7o98EEem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_s4W7pN8EEem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_s4W7pd8EEem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s4W7pt8EEem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_s4W7p98EEem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_s4W7qN8EEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_s4W7qd8EEem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s4W7qt8EEem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s4W7q98EEem4l4r1eeu9Pg" x="139" y="227"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XNE0pN44Eem4l4r1eeu9Pg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_XNDmgd44Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XNFbsN44Eem4l4r1eeu9Pg" x="-360" y="-28" width="380" height="544"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_XNK7QN44Eem4l4r1eeu9Pg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_XNK7Qt44Eem4l4r1eeu9Pg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XNK7Q944Eem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XNK7RN44Eem4l4r1eeu9Pg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_XNK7Rd44Eem4l4r1eeu9Pg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XNK7Rt44Eem4l4r1eeu9Pg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XNK7R944Eem4l4r1eeu9Pg" x="968" y="32" width="208" height="440"/>
    </children>
    <children xmi:id="_ZMyYkN-3Eem4l4r1eeu9Pg" type="Region" element="_ZMQ0IN-3Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZM0NwN-3Eem4l4r1eeu9Pg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZM0Nwd-3Eem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZM0Nwt-3Eem4l4r1eeu9Pg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ZM000N-3Eem4l4r1eeu9Pg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_ZrHTUN-3Eem4l4r1eeu9Pg" type="State" element="_ZrEQAN-3Eem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_ZrH6YN-3Eem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZrH6Yd-3Eem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ZrH6Yt-3Eem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ZrH6Y9-3Eem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ZrH6ZN-3Eem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZrIhcN-3Eem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ZrIhcd-3Eem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZrHTUd-3Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ZrHTUt-3Eem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ZrIhct-3Eem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PIPysN_REem4l4r1eeu9Pg" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZrHTU9-3Eem4l4r1eeu9Pg" x="51" y="62" width="215"/>
        </children>
        <children xmi:id="_b2MDwN-3Eem4l4r1eeu9Pg" type="Entry" element="_bzn38N-3Eem4l4r1eeu9Pg">
          <children xmi:id="_b2Mq0N-3Eem4l4r1eeu9Pg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_b2Mq09-3Eem4l4r1eeu9Pg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_b2Mq1N-3Eem4l4r1eeu9Pg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_b2Mq1d-3Eem4l4r1eeu9Pg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_b2Mq0d-3Eem4l4r1eeu9Pg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_b2Mq0t-3Eem4l4r1eeu9Pg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_b2MDwd-3Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_b2MDwt-3Eem4l4r1eeu9Pg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_b2MDw9-3Eem4l4r1eeu9Pg" x="61" y="8"/>
        </children>
        <children xmi:id="_DinVsN-4Eem4l4r1eeu9Pg" type="State" element="_DiRXcN-4Eem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_DinVtN-4Eem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_DinVtd-4Eem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_DinVtt-4Eem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DinVt9-4Eem4l4r1eeu9Pg" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_DinVuN-4Eem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DinVud-4Eem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DinVut-4Eem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_DinVsd-4Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_DinVst-4Eem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Din8wN-4Eem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DinVs9-4Eem4l4r1eeu9Pg" x="105" y="167" width="107" height="41"/>
        </children>
        <children xmi:id="_ey0K8N_NEem4l4r1eeu9Pg" type="State" element="_eyuEUN_NEem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_ey0yAN_NEem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ey0yAd_NEem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ey0yAt_NEem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ey0yA9_NEem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ey0yBN_NEem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ey0yBd_NEem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ey1ZEN_NEem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ey0K8d_NEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ey0K8t_NEem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ezzpcN_NEem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ey0K89_NEem4l4r1eeu9Pg" x="105" y="272" width="107"/>
        </children>
        <children xmi:id="_XBfuQN_OEem4l4r1eeu9Pg" type="State" element="_XBd5EN_OEem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_XBgVUN_OEem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XBgVUd_OEem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XBgVUt_OEem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XBgVU9_OEem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XBgVVN_OEem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XBgVVd_OEem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XBg8YN_OEem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XBfuQd_OEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XBfuQt_OEem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XBg8Yd_OEem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XBfuQ9_OEem4l4r1eeu9Pg" x="74" y="362"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZM000d-3Eem4l4r1eeu9Pg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_ZMyYkd-3Eem4l4r1eeu9Pg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZMyYkt-3Eem4l4r1eeu9Pg" x="72" y="-28" width="368" height="544"/>
    </children>
    <children xmi:id="_EwRHsN_QEem4l4r1eeu9Pg" type="Region" element="_Ewz6QN_QEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_EwRHsd_QEem4l4r1eeu9Pg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRHst_QEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EwRHs9_QEem4l4r1eeu9Pg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_EwRHtN_QEem4l4r1eeu9Pg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_EwRHtd_QEem4l4r1eeu9Pg" type="State" element="_Ewz6Qd_QEem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_EwRHtt_QEem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRHt9_QEem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EwRHuN_QEem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EwRHud_QEem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EwRHut_QEem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRHu9_QEem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EwRHvN_QEem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRHvd_QEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EwRHvt_QEem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EwRHv9_QEem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRHwN_QEem4l4r1eeu9Pg" x="79" y="62" width="107"/>
        </children>
        <children xmi:id="_EwRHwd_QEem4l4r1eeu9Pg" type="Entry" element="_Ew0hVN_QEem4l4r1eeu9Pg">
          <children xmi:id="_EwRHwt_QEem4l4r1eeu9Pg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_EwRHw9_QEem4l4r1eeu9Pg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRHxN_QEem4l4r1eeu9Pg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_EwRHxd_QEem4l4r1eeu9Pg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRHxt_QEem4l4r1eeu9Pg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRHx9_QEem4l4r1eeu9Pg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRHyN_QEem4l4r1eeu9Pg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_EwRHyd_QEem4l4r1eeu9Pg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRHyt_QEem4l4r1eeu9Pg" x="65" y="9"/>
        </children>
        <children xmi:id="_EwRHy9_QEem4l4r1eeu9Pg" type="State" element="_Ew0hVt_QEem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_EwRHzN_QEem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRHzd_QEem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EwRHzt_QEem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EwRHz9_QEem4l4r1eeu9Pg" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_EwRH0N_QEem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRH0d_QEem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EwRH0t_QEem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRH09_QEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EwRH1N_QEem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EwRH1d_QEem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRH1t_QEem4l4r1eeu9Pg" x="79" y="152" width="107" height="41"/>
        </children>
        <children xmi:id="_EwRH19_QEem4l4r1eeu9Pg" type="State" element="_Ew0hW9_QEem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_EwRH2N_QEem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRH2d_QEem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EwRH2t_QEem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EwRH29_QEem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EwRH3N_QEem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRH3d_QEem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EwRH3t_QEem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRH39_QEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EwRH4N_QEem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EwRH4d_QEem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRH4t_QEem4l4r1eeu9Pg" x="79" y="257" width="107"/>
        </children>
        <children xmi:id="_EwRH49_QEem4l4r1eeu9Pg" type="State" element="_Ew0hYN_QEem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_EwRH5N_QEem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRH5d_QEem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EwRH5t_QEem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EwRH59_QEem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EwRH6N_QEem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRH6d_QEem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EwRH6t_QEem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRH69_QEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EwRH7N_QEem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EwRH7d_QEem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRH7t_QEem4l4r1eeu9Pg" x="26" y="362"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRH79_QEem4l4r1eeu9Pg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_EwRH8N_QEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EwRH8d_QEem4l4r1eeu9Pg" x="1472" y="-16" width="312" height="548"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_XM2yMd44Eem4l4r1eeu9Pg"/>
    <edges xmi:id="_XNJtIN44Eem4l4r1eeu9Pg" type="Transition" element="_XNJGEd44Eem4l4r1eeu9Pg" source="_XNGCwd44Eem4l4r1eeu9Pg" target="_XNHQ4944Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XNKUMd44Eem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XNKUMt44Eem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XNKUM944Eem4l4r1eeu9Pg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XNJtId44Eem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XNKUMN44Eem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XNJtIt44Eem4l4r1eeu9Pg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_fdUzkN44Eem4l4r1eeu9Pg" type="Transition" element="_fdTlcN44Eem4l4r1eeu9Pg" source="_XNHQ4944Eem4l4r1eeu9Pg" target="_brL-sN44Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_fdUzlN44Eem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fdUzld44Eem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fdUzlt44Eem4l4r1eeu9Pg" y="76"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fdUzkd44Eem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fdUzk944Eem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fdUzkt44Eem4l4r1eeu9Pg" points="[-3, 24, -5, -83]$[-3, 101, -5, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fdXP0d44Eem4l4r1eeu9Pg" id="(0.5428571428571428,0.1320754716981132)"/>
    </edges>
    <edges xmi:id="_0xjmMN44Eem4l4r1eeu9Pg" type="Transition" element="_0xi_IN44Eem4l4r1eeu9Pg" source="_qDJiwN44Eem4l4r1eeu9Pg" target="_xtexMN44Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_0xjmNN44Eem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0xjmNd44Eem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0xjmNt44Eem4l4r1eeu9Pg" x="-14" y="68"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0xjmMd44Eem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0xjmM944Eem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0xjmMt44Eem4l4r1eeu9Pg" points="[5, 0, 3, -87]$[5, 77, 3, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0xlbYN44Eem4l4r1eeu9Pg" id="(0.47115384615384615,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0xlbYd44Eem4l4r1eeu9Pg" id="(0.5175438596491229,0.19642857142857142)"/>
    </edges>
    <edges xmi:id="_56LF0N44Eem4l4r1eeu9Pg" type="Transition" element="_56KewN44Eem4l4r1eeu9Pg" source="_xtexMN44Eem4l4r1eeu9Pg" target="_XNHQ4944Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_56UPwd44Eem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_56UPwt44Eem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_56UPw944Eem4l4r1eeu9Pg" x="207" y="30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_56LF0d44Eem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_56UPwN44Eem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_56LF0t44Eem4l4r1eeu9Pg" points="[-3, -1, -70, 516]$[-72, -1, -139, 516]$[-72, -516, -139, 1]$[65, -516, -2, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_56WE8N44Eem4l4r1eeu9Pg" id="(0.017543859649122806,0.48214285714285715)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_56WE8d44Eem4l4r1eeu9Pg" id="(0.075,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_b3FyEN5LEem4l4r1eeu9Pg" type="Transition" element="_b3FLAN5LEem4l4r1eeu9Pg" source="_s4W7oN8EEem4l4r1eeu9Pg" target="_xtexMN44Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_b3GZId5LEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_b3GZIt5LEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_b3GZI95LEem4l4r1eeu9Pg" x="-106" y="56"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_b3FyEd5LEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_b3GZIN5LEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_b3FyEt5LEem4l4r1eeu9Pg" points="[3, -6, -32, -227]$[121, -6, 86, -227]$[121, 227, 86, 6]$[50, 227, 15, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b3HnQN5LEem4l4r1eeu9Pg" id="(0.9702970297029703,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b3IOUN5LEem4l4r1eeu9Pg" id="(0.9230769230769231,0.75)"/>
    </edges>
    <edges xmi:id="_B9oIMN7kEem4l4r1eeu9Pg" type="Transition" element="_B9mTAN7kEem4l4r1eeu9Pg" source="_s4W7oN8EEem4l4r1eeu9Pg" target="_qDJiwN44Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_B9pWUN7kEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_B9pWUd7kEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_B9pWUt7kEem4l4r1eeu9Pg" x="-1" y="68"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_B9oIMd7kEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_B9oIM97kEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_B9oIMt7kEem4l4r1eeu9Pg" points="[-25, 0, 4, -87]$[-25, 77, 4, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_B9tnwN7kEem4l4r1eeu9Pg" id="(0.45544554455445546,0.8867924528301887)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_B9tnwd7kEem4l4r1eeu9Pg" id="(0.4393305439330544,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_0uDskN8EEem4l4r1eeu9Pg" type="Transition" element="_0tu8cN8EEem4l4r1eeu9Pg" source="_brL-sN44Eem4l4r1eeu9Pg" target="_s4W7oN8EEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_0vAHwN8EEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0vAHwd8EEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0vAHwt8EEem4l4r1eeu9Pg" x="-4" y="86"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0uDskd8EEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0uXOkN8EEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0uDskt8EEem4l4r1eeu9Pg" points="[-2, 0, 3, -62]$[-2, 57, 3, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0veB0N8EEem4l4r1eeu9Pg" id="(0.6285714285714286,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0veB0d8EEem4l4r1eeu9Pg" id="(0.4752475247524752,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_dKVzQN-3Eem4l4r1eeu9Pg" type="Transition" element="_dKMCQN-3Eem4l4r1eeu9Pg" source="_b2MDwN-3Eem4l4r1eeu9Pg" target="_ZrHTUN-3Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_dKWaUd-3Eem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dKWaUt-3Eem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dKWaU9-3Eem4l4r1eeu9Pg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dKVzQd-3Eem4l4r1eeu9Pg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dKWaUN-3Eem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dKVzQt-3Eem4l4r1eeu9Pg" points="[-6, 4, -1, -27]$[-3, 31, 2, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dKXocN-3Eem4l4r1eeu9Pg" id="(0.2923076923076923,0.0)"/>
    </edges>
    <edges xmi:id="_Ek55IN-4Eem4l4r1eeu9Pg" type="Transition" element="_Ek5SEN-4Eem4l4r1eeu9Pg" source="_ZrHTUN-3Eem4l4r1eeu9Pg" target="_DinVsN-4Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ek55JN-4Eem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ek55Jd-4Eem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ek55Jt-4Eem4l4r1eeu9Pg" x="1" y="-108"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ek55Id-4Eem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ek55I9-4Eem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ek55It-4Eem4l4r1eeu9Pg" points="[-26, 0, 2, -37]$[-26, 36, 2, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ek7HQN-4Eem4l4r1eeu9Pg" id="(0.5846153846153846,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ek7HQd-4Eem4l4r1eeu9Pg" id="(0.4,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_hAPr0N_NEem4l4r1eeu9Pg" type="Transition" element="_hAHwAN_NEem4l4r1eeu9Pg" source="_DinVsN-4Eem4l4r1eeu9Pg" target="_ey0K8N_NEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_hAQS4d_NEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hAQS4t_NEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hAQS49_NEem4l4r1eeu9Pg" x="1" y="-38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hAPr0d_NEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hAQS4N_NEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hAPr0t_NEem4l4r1eeu9Pg" points="[-6, 4, 18, -59]$[-6, 61, 18, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hAZc0N_NEem4l4r1eeu9Pg" id="(0.5514018691588785,0.9245283018867925)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hAZc0d_NEem4l4r1eeu9Pg" id="(0.3194444444444444,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_btoGMN_OEem4l4r1eeu9Pg" type="Transition" element="_btnfIN_OEem4l4r1eeu9Pg" source="_ey0K8N_NEem4l4r1eeu9Pg" target="_XBfuQN_OEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_btoGNN_OEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_btoGNd_OEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_btoGNt_OEem4l4r1eeu9Pg" x="2" y="-39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_btoGMd_OEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_btoGM9_OEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_btoGMt_OEem4l4r1eeu9Pg" points="[50, 20, -8, -76]$[50, 62, -8, -34]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_btpUUN_OEem4l4r1eeu9Pg" id="(0.0,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_QzJgMN_PEem4l4r1eeu9Pg" type="Transition" element="_QzISEN_PEem4l4r1eeu9Pg" source="_brL-sN44Eem4l4r1eeu9Pg" target="_brL-sN44Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_QzJgNN_PEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QzJgNd_PEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QzJgNt_PEem4l4r1eeu9Pg" x="22" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QzJgMd_PEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QzJgM9_PEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QzJgMt_PEem4l4r1eeu9Pg" points="[59, 39, 50, 15]$[126, 39, 117, 15]$[126, -15, 117, -39]$[40, -15, 31, -39]$[40, 0, 31, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QzvWEN_PEem4l4r1eeu9Pg" id="(0.41904761904761906,0.0)"/>
    </edges>
    <edges xmi:id="_Ew7PAN_QEem4l4r1eeu9Pg" type="Transition" element="_Ew0hVd_QEem4l4r1eeu9Pg" source="_EwRHwd_QEem4l4r1eeu9Pg" target="_EwRHtd_QEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ew7PAd_QEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew7PAt_QEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ew7PA9_QEem4l4r1eeu9Pg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ew7PBN_QEem4l4r1eeu9Pg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ew7PBd_QEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ew7PBt_QEem4l4r1eeu9Pg" points="[-6, 4, -1, -27]$[-3, 31, 2, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ew7PB9_QEem4l4r1eeu9Pg" id="(0.2923076923076923,0.0)"/>
    </edges>
    <edges xmi:id="_Ew72EN_QEem4l4r1eeu9Pg" type="Transition" element="_Ewz6Q9_QEem4l4r1eeu9Pg" source="_EwRHtd_QEem4l4r1eeu9Pg" target="_EwRHy9_QEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ew72Ed_QEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew72Et_QEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ew72E9_QEem4l4r1eeu9Pg" x="-1" y="-87"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ew72FN_QEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ew72Fd_QEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ew72Ft_QEem4l4r1eeu9Pg" points="[-9, 0, 10, -43]$[-9, 42, 10, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ew72F9_QEem4l4r1eeu9Pg" id="(0.5846153846153846,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ew72GN_QEem4l4r1eeu9Pg" id="(0.4,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_Ew72Gd_QEem4l4r1eeu9Pg" type="Transition" element="_Ew0hWN_QEem4l4r1eeu9Pg" source="_EwRHy9_QEem4l4r1eeu9Pg" target="_EwRH19_QEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ew72Gt_QEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew72G9_QEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ew72HN_QEem4l4r1eeu9Pg" x="1" y="-38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ew72Hd_QEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ew72Ht_QEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ew72H9_QEem4l4r1eeu9Pg" points="[-6, 4, 18, -59]$[-6, 61, 18, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ew72IN_QEem4l4r1eeu9Pg" id="(0.5514018691588785,0.9245283018867925)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ew72Id_QEem4l4r1eeu9Pg" id="(0.3194444444444444,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_Ew8dIN_QEem4l4r1eeu9Pg" type="Transition" element="_Ew0hXd_QEem4l4r1eeu9Pg" source="_EwRH19_QEem4l4r1eeu9Pg" target="_EwRH49_QEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ew8dId_QEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew8dIt_QEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ew8dI9_QEem4l4r1eeu9Pg" x="2" y="-39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ew8dJN_QEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ew8dJd_QEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ew8dJt_QEem4l4r1eeu9Pg" points="[50, 20, -3, -91]$[50, 77, -3, -34]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ew8dJ9_QEem4l4r1eeu9Pg" id="(0.0,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_QQozkN_QEem4l4r1eeu9Pg" type="Transition" element="_QQoMgN_QEem4l4r1eeu9Pg" source="_XBfuQN_OEem4l4r1eeu9Pg" target="_ZrHTUN-3Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_QQozlN_QEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QQozld_QEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QQozlt_QEem4l4r1eeu9Pg" x="95" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QQozkd_QEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QQozk9_QEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QQozkt_QEem4l4r1eeu9Pg" points="[-79, -32, -17, 322]$[-129, -32, -67, 322]$[-129, -342, -67, 12]$[-65, -342, -3, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QQqBsN_QEem4l4r1eeu9Pg" id="(0.49101796407185627,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QQqBsd_QEem4l4r1eeu9Pg" id="(0.037383177570093455,0.3018867924528302)"/>
    </edges>
    <edges xmi:id="_g_mOwN_REem4l4r1eeu9Pg" type="Transition" element="_g_lnsN_REem4l4r1eeu9Pg" source="_EwRH49_QEem4l4r1eeu9Pg" target="_EwRHtd_QEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_g_mOxN_REem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g_mOxd_REem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g_mOxt_REem4l4r1eeu9Pg" x="58" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_g_mOwd_REem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_g_mOw9_REem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_g_mOwt_REem4l4r1eeu9Pg" points="[-4, -6, -17, 325]$[-50, -6, -63, 325]$[-50, -319, -63, 12]$[10, -319, -3, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g_nc4N_REem4l4r1eeu9Pg" id="(0.024875621890547265,0.6301369863013698)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g_nc4d_REem4l4r1eeu9Pg" id="(0.037383177570093455,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_Jg7S8N_TEem4l4r1eeu9Pg" type="Transition" element="_Jg6E0N_TEem4l4r1eeu9Pg" source="_ZrHTUN-3Eem4l4r1eeu9Pg" target="_ZrHTUN-3Eem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Jg7S9N_TEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Jg7S9d_TEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Jg7S9t_TEem4l4r1eeu9Pg" x="38" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Jg7S8d_TEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Jg7S89_TEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Jg7S8t_TEem4l4r1eeu9Pg" points="[25, -9, 8, 24]$[92, -9, 75, 24]$[92, -83, 75, -50]$[-37, -83, -54, -50]$[-37, -48, -54, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Jg9IIN_TEem4l4r1eeu9Pg" id="(0.8837209302325582,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Jg9IId_TEem4l4r1eeu9Pg" id="(0.9627906976744186,0.32075471698113206)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_uayhEN7rEem4l4r1eeu9Pg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_brKwkN44Eem4l4r1eeu9Pg" measurementUnit="Pixel">
    <children xmi:id="_vxcyAN7rEem4l4r1eeu9Pg" type="Region" element="_vxcK8N7rEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_vxcyA97rEem4l4r1eeu9Pg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vxcyBN7rEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vxcyBd7rEem4l4r1eeu9Pg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_vxcyBt7rEem4l4r1eeu9Pg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_1iRhIN7rEem4l4r1eeu9Pg" type="Entry" element="_1iQ6EN7rEem4l4r1eeu9Pg">
          <children xmi:id="_1iSIMN7rEem4l4r1eeu9Pg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_1iSIM97rEem4l4r1eeu9Pg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1iSINN7rEem4l4r1eeu9Pg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_1iSINd7rEem4l4r1eeu9Pg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1iSIMd7rEem4l4r1eeu9Pg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1iSIMt7rEem4l4r1eeu9Pg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1iRhId7rEem4l4r1eeu9Pg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_1iRhIt7rEem4l4r1eeu9Pg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1iRhI97rEem4l4r1eeu9Pg" x="94" y="47"/>
        </children>
        <children xmi:id="_3Ye00t7rEem4l4r1eeu9Pg" type="State" element="_3YeNwN7rEem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_3Yfb4N7rEem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3Yfb4d7rEem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3Yfb4t7rEem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3Yfb497rEem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3Yfb5N7rEem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Yfb5d7rEem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3Yfb5t7rEem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3Ye0097rEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3Ye01N7rEem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3Yfb597rEem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Ye01d7rEem4l4r1eeu9Pg" x="184" y="74"/>
        </children>
        <children xmi:id="_NtGGYN7sEem4l4r1eeu9Pg" type="State" element="_NtFfUN7sEem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_NtGtcN7sEem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NtGtcd7sEem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NtGtct7sEem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NtGtc97sEem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NtGtdN7sEem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NtGtdd7sEem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NtHUgN7sEem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NtGGYd7sEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NtGGYt7sEem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NtHUgd7sEem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NtGGY97sEem4l4r1eeu9Pg" x="211" y="222" height="101"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vxcyB97rEem4l4r1eeu9Pg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_vxcyAd7rEem4l4r1eeu9Pg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vxcyAt7rEem4l4r1eeu9Pg" x="75" y="60" width="601" height="434"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_uayhEd7rEem4l4r1eeu9Pg"/>
    <edges xmi:id="_lePnYN7sEem4l4r1eeu9Pg" type="Transition" element="_lePAUN7sEem4l4r1eeu9Pg" source="_NtGGYN7sEem4l4r1eeu9Pg" target="_3Ye00t7rEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_lePnZN7sEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lePnZd7sEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lePnZt7sEem4l4r1eeu9Pg" x="15" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lePnYd7sEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lePnY97sEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lePnYt7sEem4l4r1eeu9Pg" points="[31, 0, -2, 102]$[31, -94, -2, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_leQ1gN7sEem4l4r1eeu9Pg" id="(0.3770491803278688,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_leQ1gd7sEem4l4r1eeu9Pg" id="(0.569620253164557,0.8679245283018868)"/>
    </edges>
    <edges xmi:id="_t234sN8MEem4l4r1eeu9Pg" type="Transition" element="_t23RoN8MEem4l4r1eeu9Pg" source="_1iRhIN7rEem4l4r1eeu9Pg" target="_3Ye00t7rEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_t24fwN8MEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_t24fwd8MEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_t24fwt8MEem4l4r1eeu9Pg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_t234sd8MEem4l4r1eeu9Pg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_t234s98MEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_t234st8MEem4l4r1eeu9Pg" points="[7, 3, -48, -19]$[56, 41, 1, 19]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_t25G0N8MEem4l4r1eeu9Pg" id="(0.006329113924050633,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_d34P8N8NEem4l4r1eeu9Pg" type="Transition" element="_d33o4N8NEem4l4r1eeu9Pg" source="_3Ye00t7rEem4l4r1eeu9Pg" target="_NtGGYN7sEem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_d34P9N8NEem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_d34P9d8NEem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_d34P9t8NEem4l4r1eeu9Pg" x="5" y="90"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_d34P8d8NEem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_d34P898NEem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_d34P8t8NEem4l4r1eeu9Pg" points="[-6, 11, 37, -95]$[-6, 93, 37, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_d35eEN8NEem4l4r1eeu9Pg" id="(0.2088607594936709,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_d36FIN8NEem4l4r1eeu9Pg" id="(0.1565217391304348,0.2830188679245283)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_PIQZwN_REem4l4r1eeu9Pg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_ZrEQAN-3Eem4l4r1eeu9Pg" measurementUnit="Pixel">
    <children xmi:id="_Ri_W0N_REem4l4r1eeu9Pg" type="Region" element="_Ri_W-t_REem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ri_W0d_REem4l4r1eeu9Pg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ri_W0t_REem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ri_W09_REem4l4r1eeu9Pg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Ri_W1N_REem4l4r1eeu9Pg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_Ri_W1d_REem4l4r1eeu9Pg" type="Entry" element="_Ri_W-9_REem4l4r1eeu9Pg">
          <children xmi:id="_Ri_W1t_REem4l4r1eeu9Pg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Ri_W19_REem4l4r1eeu9Pg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Ri_W2N_REem4l4r1eeu9Pg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Ri_W2d_REem4l4r1eeu9Pg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ri_W2t_REem4l4r1eeu9Pg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ri_W29_REem4l4r1eeu9Pg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ri_W3N_REem4l4r1eeu9Pg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_Ri_W3d_REem4l4r1eeu9Pg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ri_W3t_REem4l4r1eeu9Pg" x="132" y="82"/>
        </children>
        <children xmi:id="_Ri_W39_REem4l4r1eeu9Pg" type="State" element="_Ri_W_d_REem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_Ri_W4N_REem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ri_W4d_REem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Ri_W4t_REem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ri_W49_REem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Ri_W5N_REem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ri_W5d_REem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ri_W5t_REem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ri_W59_REem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ri_W6N_REem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Ri_W6d_REem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ri_W6t_REem4l4r1eeu9Pg" x="199" y="102"/>
        </children>
        <children xmi:id="_Ri_W69_REem4l4r1eeu9Pg" type="State" element="_Ri_99t_REem4l4r1eeu9Pg">
          <children xsi:type="notation:DecorationNode" xmi:id="_Ri_W7N_REem4l4r1eeu9Pg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ri_W7d_REem4l4r1eeu9Pg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Ri_W7t_REem4l4r1eeu9Pg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ri_W79_REem4l4r1eeu9Pg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Ri_W8N_REem4l4r1eeu9Pg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ri_W8d_REem4l4r1eeu9Pg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ri_W8t_REem4l4r1eeu9Pg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ri_W89_REem4l4r1eeu9Pg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ri_W9N_REem4l4r1eeu9Pg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Ri_W9d_REem4l4r1eeu9Pg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ri_W9t_REem4l4r1eeu9Pg" x="207" y="242" height="111"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ri_W99_REem4l4r1eeu9Pg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Ri_W-N_REem4l4r1eeu9Pg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ri_W-d_REem4l4r1eeu9Pg" x="50" y="65" width="601" height="434"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_PIQZwd_REem4l4r1eeu9Pg"/>
    <edges xmi:id="_RjCaIN_REem4l4r1eeu9Pg" type="Transition" element="_Ri_-Bt_REem4l4r1eeu9Pg" source="_Ri_W69_REem4l4r1eeu9Pg" target="_Ri_W39_REem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_RjCaId_REem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RjCaIt_REem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RjCaI9_REem4l4r1eeu9Pg" x="-1" y="28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RjCaJN_REem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RjCaJd_REem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RjCaJt_REem4l4r1eeu9Pg" points="[87, 0, 2, 92]$[87, -86, 2, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RjCaJ9_REem4l4r1eeu9Pg" id="(0.3770491803278688,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RjCaKN_REem4l4r1eeu9Pg" id="(0.7926267281105991,0.8983050847457628)"/>
    </edges>
    <edges xmi:id="_RjCaKd_REem4l4r1eeu9Pg" type="Transition" element="_Ri_W_N_REem4l4r1eeu9Pg" source="_Ri_W1d_REem4l4r1eeu9Pg" target="_Ri_W39_REem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_RjCaKt_REem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RjCaK9_REem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RjCaLN_REem4l4r1eeu9Pg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RjCaLd_REem4l4r1eeu9Pg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RjCaLt_REem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RjCaL9_REem4l4r1eeu9Pg" points="[7, 3, -48, -19]$[56, 41, 1, 19]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RjCaMN_REem4l4r1eeu9Pg" id="(0.006329113924050633,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_RjDBMN_REem4l4r1eeu9Pg" type="Transition" element="_Ri_97t_REem4l4r1eeu9Pg" source="_Ri_W39_REem4l4r1eeu9Pg" target="_Ri_W69_REem4l4r1eeu9Pg">
      <children xsi:type="notation:DecorationNode" xmi:id="_RjDBMd_REem4l4r1eeu9Pg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RjDBMt_REem4l4r1eeu9Pg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RjDBM9_REem4l4r1eeu9Pg" x="-4" y="101"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RjDBNN_REem4l4r1eeu9Pg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RjDBNd_REem4l4r1eeu9Pg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RjDBNt_REem4l4r1eeu9Pg" points="[-1, 13, 20, -105]$[-1, 99, 20, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RjDBN9_REem4l4r1eeu9Pg" id="(0.2088607594936709,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RjDBON_REem4l4r1eeu9Pg" id="(0.1565217391304348,0.2830188679245283)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
